<!--Post Form-->
<section class="container-form">
    <!--Post Form-->
    <form action="/" method="POST" class="form">
        <h3 class="form__title">Post Info</h3>
        <div class="form__div">
            <label for="title" class="form__label">Title</label>
            <input type="text" name="title" id="title" class="form__input" required>
        </div>
        
        <div class="form__div">
            <label for="description" class="form__label">Description</label>
            <textarea name="description" id="description" class="form__input textarea" required></textarea>
        </div>
    
        <div class="form__div">
            <button type="submit" class="form__button">Publish</button>
        </div>
    </form>
</section>